* {
    padding: 0;
    margin: 0;
    box-sizing:border-box
    
}
/* background */

html {
    background-image: url("../images/oNgpxQM-800.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
}
/* portfolio title */

header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}
/* nav options */

ul {
    display: flex;
    font-family: monospace;
    flex-wrap: wrap;
}
/* nav options continued */

li {
    margin-left: 24px;
    list-style-type: none;
    margin-right: 50px;
    
}
/* list item color */

a {
    color: antiquewhite;
    font-size: 20px;
    text-decoration: none;
    
}

.project {
    color: floralwhite;
    font-size: 85px;
}
/* portfolio color */

span {
    color: yellow
}
/* image icon */

img {
    float: right;
    margin-right: 150px;
    margin-top: 30px;
    border-radius: 50%;
}
/* section break down */

section {
    text-align: center;
    width: 80%;
    padding-top: 26.5%;
}
/* h1 styling */

h1 {
    font-family: fantasy;
}
/* section h1 name styling */

section h1 {
    color: yellow;
    font-size: 60px;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* smaller title color */

h2 {
    color: white;
}


h3 {
    color: white;  
}
/* hover over nav bar color */

a:hover {
    color: yellow;
}


.detail {
    text-align: center;
    color: yellow;
}
/* about me styling */

.personalstuff {
    font-size: 16px;
    color: white;
    text-align: center;
    text-wrap: balance;
    flex-wrap: wrap;
}
/* boxed stle for about me, project, contact */

.boxed {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* takes to github refactor code */

button {
    position: static;
    font-weight: bold;
    border-radius: 0;
    background-color: yellow;
    color: black;
    border: none;
    width: 100px;   
}
/* second pic at the bottom */

.secondpic{
    margin-top: 0%;
    float: right;
    border-radius: 9%;
    flex-wrap: wrap;
}

/* footer filings */

.foot{
    padding: 23%;
    margin-top: -20%;
}
/* flex-wraps */

.wrap{
flex-wrap: wrap;
}

/* paragraph styling */

p{
    color:white
}

/* email me button */

.mail {
    position: static;
    background-color: yellow;
    color: black;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

/* end of css */